/* --------------reset---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------common----------- */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    height: 100vh;
    max-width: 1920px;
    margin: auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

header, main {
    background-color: #1a1a1a;
}
/* ------------------typo----------------- */

.white {
    color: white;
}

.black {
    color: black;
}

/* -----------header------------ */
header {
    height: 45px;
    justify-content: space-between;
    padding: 8px 8px 0 8px ;
}

.fa-shield-alt {
    color: #23d959;
    background-color: black;
    padding: 3px;
    border-radius: 4px;
}

.green-shield-icon {
    margin-right: 5px;
}

.header-left {
    line-height: 45px;
}

#rec-img {
    display: inline;
    width: 15px;
}
.recording-col {
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
}

.recording-col p {
    display: inline;
    font-size: 14px;
}
.header-right {
    /* background-color: #212122; */
    background-color: black;
    border-radius: 10px;
    padding: 0px 10px;
}

.view {
    line-height: 38px;
    margin-left: 5px;
    text-decoration: none;
}

.fa-th {
    line-height: 43px;
}

/* -------------main-------------- */


.col-main-left, .col-main-right {
    width: 15%;
}

.fa-caret-left, .fa-caret-right {
    color: #2db9ff;
    font-size: 50px;
    padding-bottom: 2px;
} 
/* -----------------column left-------------- left */
.col-main-left a, .col-main-right a {
    height: 90px;
    width: 60px;
    text-decoration: none;
    border: 1px solid black;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(to top, #000000, #121212, #1e1e1e, #2a2a2a, #363636);
}

.col-main-left, .col-main-right {
    align-items: center;
}

.btn-arrow {
    align-items: center;
    flex-direction: column;
}

.screen-indicator {
    padding-bottom: 2px;
}

/* ---------------column right-------------- */
.col-main-right {
    justify-content: flex-end;
}

/* ------------column-center-------------- */
.col-main-center {
    width: 70%;
    align-items: flex-start;
}

.user-cam {
    width: calc(20% - 10px);
    position: relative;
    margin: 5px 5px 0 5px;
}

.col-main-center img {
    max-width: 100%;
    border-radius: 10px;
}

.col-main-center .fa-microphone-alt-slash, .col-main-center .user-name {
    display: inline-block;
}

.user-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    border-radius: 4px;
    padding: 2px 5px;
}

.fa-microphone-alt-slash {
    color: #d25654;
}

/* -----------------footer--------------------- */
footer {
    height: 50px;
    /* background-image: linear-gradient(to top, #141516, #1b1c1d, #232324, #2a2a2b, #323232); */
    justify-content: space-between;
}

.footer-left, .footer-central, .footer-right {
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: 1px solid;
    background-color: blanchedalmond;
    flex-direction: column;
    justify-content: center;
}

.btn-footer {
    
}


