/* --------------reset---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------common----------- */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    height: 100vh;
    max-width: 1920px;
    margin: auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

header, main {
    background-color: #1a1a1a;
}
/* ------------------typo----------------- */

.white {
    color: white;
}

.black {
    color: black;
}

/* -----------header------------ */
header {
    height: 45px;
    justify-content: space-between;
    padding: 8px 8px 0 8px ;
}

.fa-shield-alt {
    color: #23d959;
    background-color: black;
    padding: 3px;
    border-radius: 4px;
}

.green-shield-icon {
    margin-right: 5px;
}

.header-left {
    line-height: 45px;
}

#rec-img {
    display: inline;
    width: 15px;
}
.recording-col {
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
}

.recording-col p {
    display: inline;
    font-size: 14px;
}
.header-right {
    /* background-color: #212122; */
    background-color: black;
    border-radius: 10px;
    padding: 0px 10px;
}

.view {
    line-height: 38px;
    margin-left: 5px;
    text-decoration: none;
}

.fa-th {
    line-height: 43px;
}

/* -------------main-------------- */


.col-main-left, .col-main-right {
    width: 15%;
    border: 1px solid;
}

.col-main-center {
    width: 70%;
    border: 1px solid;
    align-items: flex-start;
}

.user-cam {
    width: 20%;
}

.col-main-center img {
    max-width: 100%;
}